<h1> New Comments </h1>

<%= turbo_frame_tag "new_comment" do %>
  <%= form_with(model: [ @comment.inventory_item, @comment ], data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset"}) do |form| %>
    <%= form.hidden_field :user_name, value: current_or_guest_user.commentor_name %>
    <div class="form-group">
      <%= form.label :content, class: 'pull-left' %>
      <%= form.text_field :content, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :rating, class: 'pull-left pr-3' %>
      <%= form.select :rating, (1..5), class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.submit 'Add Comment', data: { disable_with: false }, class: 'pull-right btn btn-primary mb-3' %>
    </div>
  <% end %>
<% end %>
<%= link_to "Back", @comment.inventory_item %>
