<div class="cart-card">
  <div class="card-header">
    <span class="title"> Cart Summary </span>
    <small class='float-right'> 
      <%= link_to root_path do %>
        <i class="fas fa-cart-plus"></i>
      <% end %>
    </small>
  </div>
  <div class="list-group list-group-flush">
    <% @shopping_cart.cart_items.each do |item| %>
      <div class="list-group-item">
        <p>
          <small class="float-right">
            <%= link_to shopping_cart_item_path(item.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </small>
          <span class="font-weight-bold"> Item: </span>
          <%= link_to item.title, inventory_item_path(item.inventory_item_id) %>
        </p>
        <p>
          <small class="float-right">
            <%= "#{item.quantity} x #{number_to_currency(item.inventory_item.unit_cost)}"  %>
          </small>
          <span class="font-weight-bold"> Price: </span>
          <%= number_to_currency(item.total_cost) %>
        </p>
      </div>
    <% end %>
    <div class="list-group-item">
      <span class="font-weight-bold"> Subtotal: </span>
      <span class="float-right"> <%= number_to_currency(@shopping_cart.cart_subtotal) %> </span>
    </div>
    <div class="list-group-item">
      <span class="font-weight-bold"> Shipping: </span>
      <span class="float-right"> <%= number_to_currency(@shopping_cart.cart_shipping) %> </span>
    </div>
    <div class="list-group-item">
      <span class="font-weight-bold"> Total: </span>
      <span class="float-right"> <%= number_to_currency(@shopping_cart.cart_total) %> </span>
    </div>
  </div>

</div>