<%= form_with(model: inventory_item, local: true) do |f| %>
  <% if inventory_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory_item.errors.count, "error") %> prohibited this inventory_item from being saved:</h2>

      <ul>
        <% inventory_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label :title, class: 'pull-left' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group mt-3">
        <%= f.label :subtitle, class: 'pull-left' %>
        <%= f.text_field :subtitle, class: 'form-control' %>
      </div>

      <div class="form-group mt-3">
        <%= f.label :unit_cost, class: 'pull-left' %>
        <%= f.text_field :unit_cost, class: 'form-control' %>
      </div>

      <div class="form-group pull-left mt-3">
        <label class='btn btn-primary'>
          Upload image files <%= f.file_field :images, multiple: true, style: 'display:none' %>
        </label>
      </div>

      <div class="form-group pull-left mt-3">
        <label class='btn btn-primary'>
          Upload a thumb image file <%= f.file_field :thumb_image, style: 'display:none' %>
        </label>
      </div>

      <div class="form-group pull-left mt-3">
        <%= f.label :category, class: 'block', style: 'text-align:left' %>
        <%= f.collection_select(:category_id, Category.all, :id, :title) %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, class: 'form-control', rows: 13 %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group mt-3 mb-3">
        <%= f.fields_for :styles do |f|%>
          <%= render partial: 'style_fields', locals: { f: f } %>
        <% end %>
        <%= link_to_add_fields 'Add Piece Style', f, :styles %>
      </div>
    </div>


    <div class="col-md-12">
      
      <div class="form-group">
        <%= f.submit 'Save Inventory Item', class: 'btn btn-primary btn-block mt-5' %>
      </div>
    </div>    
  </div>
<% end %>
