<div class="card">
  <p><%= link_to inventory_item.title, inventory_item_path(inventory_item) %></p>
  <%= image_tag inventory_item.thumb_image unless inventory_item.thumb_image.nil? %>
  <p class="card-text">
    <%= inventory_item.subtitle %>
    <span><%= inventory_item.unit_cost %> </span>
  </p>
  <p>
    <span><%= inventory_item.body %> </span>
  </p>
</div>
