<div class="card">
  <p><%= link_to inventory_item.title, inventory_item_path(inventory_item) %></p>
  <%= image_tag inventory_img(inventory_item.thumb_image.url, 'thumb'), class: 'thumb-image' %>
  <em class="card-text">
    <%= inventory_item.subtitle %>
    <span class="item-cost"><%= number_to_currency(inventory_item.unit_cost) %> </span>
  </em>
  <p>
    <span><%= inventory_item.body %> </span>
  </p>
</div>
