<%= f.label :color, class: 'flabel mt-2' %>
<%= f.text_field :color, class: 'form-control' %>

<%= f.label :stone, class: 'flabel mt-2' %>
<%= f.text_field :stone, class: 'form-control' %>

<%= f.label :length, class: 'flabel mt-2' %>
<%= f.text_field :length, class: 'form-control' %>

<div class="checkbox mt-2 mb-2">
  <%= f.label :delete %>
  <%= f.check_box :_destroy, class: "check_box" %>
</div>
