<div class="container inventory-container">
  <% if current_user.type=='AdminUser'%>
    <%= link_to 'Edit Item', edit_inventory_item_path(@inventory_item), class: 'nav-link' %>
  <% end %>
  <div class="row">
    <div class="col-md-7">
      <div class="scroller">
        <% @inventory_item.images.each do |image| %>
          <div><%= image_tag inventory_img(image.url, 'main'), class: "show-image" %></div>
        <% end %>
      </div>
    </div>

    <div class="col-md-5">
      <h1><%= @inventory_item.title %></h1>
      <em>Price: $<%= @inventory_item.unit_cost %></em>

      <hr>

      <em><%= @inventory_item.subtitle %></em>

      <p><%= @inventory_item.body %></p>
    </div>
  </div>    
</div>
