<div class="container inventory-container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag @inventory_item.main_image.url, width: '100%' %>
    </div>

    <div class="col-md-5">
      <h1><%= @inventory_item.title %></h1>
      <em>Price: $<%= @inventory_item.unit_cost %></em>

      <hr>

      <em><%= @inventory_item.subtitle %></em>

      <p><%= @inventory_item.body %></p>
    </div>
  </div>    
</div>
