<p id="notice"><%= notice %></p>


<%= image_tag @inventory_item.main_image %>

<h1>
  <%= @inventory_item.title %>
</h1>

<em>
  <%= @inventory_item.subtitle %>
</em>

<p>
  <%= @inventory_item.body %>
</p>

<p>
  <%= @inventory_item.unit_cost %>
</p>

<%= link_to 'Edit |', edit_inventory_item_path(@inventory_item) if logged_in?(:site_admin)  %>
<%= link_to 'Back', inventory_items_path %>
