<div class="masthead clearfix">
  <div class="inner">
    <h3> <%= link_to "posy", root_path, class: "masthead-brand"%></h3>
    <nav class="nav nav-masthead">
      <%= link_to "About Me", about_path, class: 'nav-link' %>
      <%= link_to "Contact", contact_path, class: 'nav-link' %>
      <%= link_to "Inventory", inventory_items_path, class: 'nav-link' %>
      <%= login_helper('nav-link') %>
    </nav>
  </div>
</div>