<div class="masthead">
  <div class="container">
    <nav class="navbar">
      <%= link_to "posy", root_path, class: "navbar-title nav-link" %>
      <%= link_to "About", about_path, class: 'nav-link' %>
      <%= link_to "Contact", contact_path, class: 'nav-link' %>
      <%= link_to "Inventory", inventory_items_path, class: 'nav-link' %>
      <div class="nav-item dropdown-container col-md-1">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= auth_dropdown_helper %></a>
          <div class="dropdown-menu dropdown">
            <%= login_helper 'dropdown-item ml-0 nav-link' %>
          </div>
      </div>
    </nav>
  </div>
</div>